// JS Drum Kit CSS
body {
  background-color: #293241;
  color: #FFFFFF;
  margin: 10px; }

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 500px; }

.key {
  padding: 5px;
  margin: 0 15px 0 15px;
  width: 80px;
  height: 70px;
  text-align: center;
  font-size: 2.5em;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  transition: all 0.07s;
  text-shadow: 0 0 5px #FFFFFF; }

.active-key {
  transform: scale(1.2);
  border-color: #9FFFCB;
  box-shadow: 0 0 10px #9FFFCB; }

.container > div:nth-child(1n) {
  background-color: #50C9CE; }

.container > div:nth-child(3n) {
  background-color: #9FFFCB; }

.container > div:nth-child(2n) {
  background-color: #00A5CF; }

.container > div:nth-child(4n) {
  background-color: #25A18E; }

span {
  color: white;
  font-size: .2em; }
